{{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        <form class="modalcontent animate" method="post" action="/users/login">

        <h2 style="text-align: center">Retry Login</h2>
        
        <br>
        <div class="imgcontainer">

        <img src="https://wallpapersite.com/images/wallpapers/stuart-the-minion-2880x1800-hd-4k-8k-2678.jpg" alt="Avatar" class="avatar" align="left">
        </div>

        <div class="contai">

        <label for="uname"><b>Username</b></label>
        <br>
        <input type="text" placeholder="Enter Username" name="username" required>
        <br/>
        <br>
        <label for="psw"><b>Password</b></label>
        <br>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br>
        <label>
         <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <br>
        <br>
        <button type="submit" class="btn btn-default" id="submit">Submit</button>

        </div>

        <div class="containr" style="background-color:#f1f1f1">
        <span class="psw"><a href="#">Forgot Password?</a></span>
        </div>
        </form>
