<form action ="/course/eco/departmentalcompalsary" method="POST">
<select name="department" class="form-control">
                    <option value="AEROSPACE_ENGINEERING"> AEROSPACE ENGINEERING</option>
                    <option value="BSBE"> BSBE</option>
                    <option value="CSE"> COMPUTER SCIENCE</option>
                    <option value="CHEMICAL_ENGINEERING"> CHEMICAL ENGINEERING</option>
                    <option value="CHEMISTRY"> CHEMISTRY</option>
                    <option value="EARTH_SCIENCE"> EARTH SCIENCE</option>
                    <option value="ECONOMICS"> ECONOMICS</option>
                    <option value="ELECTRICAL_ENGINEERING"> ELECTRICAL ENGINEERING</option>
                    <option value="MTH"> MATHMATICS AND SCIENTIFIC COMPUTING</option>
                    <option value="MSE"> MATERIAL SCIENCE AND ENGINEERING</option>
                    <option value="MECHANICAL_ENGINEERING"> MECHANICAL ENGINEERING</option>
                    <option value="PHYSICS"> PHYSICS </option>
                </select>
<input name="code" placeholder="code">
<input name="way" placeholder="way">
<input name="name" placeholder="name">
<input name="prereq" placeholder="prereq">
<select name="type" class="form-control">
                    <option value="ESO/SO"> ESO/SO</option>
                    <option value="DEPARTMENTCOMPALSARY"> departmentalcompalsary</option>
                    <option value="departmentalelectives"> departmentalelective</option>
                    <option value="InstituteCore"> IC</option>
                </select>
<textarea name="details" placeholder="type"></textarea>
<input name="source" placeholder="resources">
<button type="submit">Submit</button>
</form>

