<form class="modal-content animate" method="post" action="/users/login">
    <h2 style="text-align: center">Account Login</h2>

    <div class="imgcontainer">

      <img src="https://cdn.drawception.com/images/avatars/583244-C6E.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="containr">

      <label for="uname"><b>Username  </b></label>
      <input class="inputlogin" type="text" placeholder="Enter Username" name="username" required>
      <br/>
      <label for="psw"><b>Password</b></label>
      <input class="inputlogin" type="password" placeholder="Enter Password" name="password" required>
      <br>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <br>
      <button type="submit" class="btn btn-default" id="submit">Submit</button>

    </div>

    <div class="containr" style="background-color:#f1f1f1">
      <span class="psw"><a href="#">Forgot Password?</a></span>
    </div>
</form>