<link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery.scrollbar.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link href="/css/emoji.css" rel="stylesheet">
<body>

    <div class="col-md-12 mob-clearfix margin-80">
        <input type = "hidden" name="department" value="{{user.department}}">
        <div class="col-md-12">
            <div class="chat_container">
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                        <div class="row" style="margin-top:10px">
                            <div class="col-md-12">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="front">

                                            <div class="content main-scroll">
                                                <div class="main">
                                                    <p class="friends" style="margin-bottom:0px;color:#444">
                                                        Online Friends<span id="numOfFriends"></span>
                                                    </p>
                                                    <hr style="margin-top:10px" />

                                                    <div class="onlineFriends">
                                                    {{#each alluser}}
                                                        <li>
                                                        <a href="/chat/{{this.link}}">{{this.name}}</a>
                                                        
                                                        </li>
                                                        {{/each}}
                                                    </div>
                                                    
                                                    
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>




    </body>